<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1" content="text/html; charset=UTF-8">
    <title>Products</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <div id="main">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <img class="mx-3"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/1200px-Mastercard_2019_logo.svg.png"
                    alt="" width="90" height="50">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/categories}">Categories<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/products}">Products<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/users}">Users<span class="sr-only"></span></a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 mx-2 my-lg-0" v-on:submit.prevent="getFilteredProducts">
                        <input class="form-control mr-sm-2" type="search" id="search_input" placeholder="Product Description"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="text-end">
                        <a type="button" class="btn btn-danger me-2" data-toggle="modal" data-target="#SignOff">Sing
                            Off</a>
                    </div>
                </div>
            </nav>
        </header>
        <main class="form-signin w-60 m-auto">
            <div class="container mx-auto">
                <form style="margin-top:7rem" v-on:submit.prevent="postProduct">
                    <div class="card mb-auto">
                        <div aria-controls="productForm" aria-expanded="false" class="card-header"
                            data-target="#productForm" data-toggle="collapse" style="cursor: pointer">
                            <div class="float-left">New/Edit Product</div>
                            <div class="float-right">▼</div>
                        </div>
                        <div class="card card-body collapse" id="productForm">
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label">Name</label>
                                <input id="id" type="hidden" v-model="product_id">
                                <input class="form-control col-sm-8" id="name" placeholder="Play Station 4" type="text"
                                    maxlength="50" v-model="product_name" />
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col col-sm-4">Description</label>
                                <input class="form-control col-sm-8" id="description" placeholder="Video game console"
                                    maxlength="100" type="text" v-model="product_description" />
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col col-sm-4">Price LPS</label>
                                <input class="form-control col-sm-8" id="price" placeholder="100.00" type="number"
                                    pattern='[0-9]+(\\.[0-9][0-9]?)?' min="1.00" max="100000.00" step="any"
                                    v-model="product_price" />
                            </div>
                            <div class="form-group row">
                                <label for="quantity" class="col col-sm-4">Quantity</label>
                                <input class="form-control col-sm-8" id="quantity" placeholder="100.00" type="number"
                                    pattern='[0-9]?' min="1" max="100000" step="1" v-model="product_quantity" />
                            </div>
                            <div class="form-group row">
                                <label for="image" class="col col-sm-4">Image</label>
                                <input class="form-control col-sm-8" id="image" placeholder="Video game console"
                                    maxlength="100" type="text" v-model="product_image" />
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col col-sm-4">Category</label>
                                <select class="form-control col-sm-8" id="category" placeholder="Category"
                                    v-model="product_category_id">
                                    <option disabled value="">Select a Category</option>
                                    <option :selected="category.id === product_category_id" v-bind:value="category.id"
                                        v-for="category in categories">{{
                                    category.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col col-sm-4"></div>
                                <input class="btn btn-primary col col-sm-4" type="submit" value="Save">
                                <div class="col col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                </form>

                <br><br>

                <figure class="text-center">
                    <h2 class="h2">All Products</h2>
                </figure>
                <div class="row">
                    <div class="col" v-for="product in products">
                        <div class="card mt-3" style="width: 18rem;">
                            <!-- <img src="..." class="card-img-top" alt="..."> -->
                            <div aria-controls="productForm" aria-expanded="false" class="card-header" :data-target="'#productDetail' + product.id" data-toggle="collapse" style="cursor: pointer">
                                <div class="float-left card-title">{{ product.name }}</div>
                                <div class="float-right">▼</div>
                            </div>
                                <div class="card card-body collapse" :id="'productDetail' + product.id">
                                    <p class="card-text"><strong>Description </strong>{{ product.description }}</p>
                                    <p class="card-text"><strong>Price </strong>L {{ product.price }}</p>
                                    <p class="card-text"><strong>Quantity </strong>{{ product.quantity }}</p>
                                    <p class="card-text"><strong>Category </strong>{{ product.category.name }}</p>
                                </div>
                                <button class="btn btn-primary m-2" v-on:click="editProduct(product)">Edit</button>
                                <button class="btn btn-danger m-2" v-on:click="deleteProduct(product)">Delete</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="SignOff" tabindex="-1" role="dialog" aria-labelledby="SignOffLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="SignOffLabel">Sign Off</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to sign off?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <a th:href="@{/}"> <button type="button" class="btn btn-primary">Yes</button> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para mostrar detalles del producto -->
        </main>
    </div>
    <!-- Vue imports -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Actual Vue.js script -->
    <script>
        var app = new Vue({
            el: '#main',
            data() {
                return {
                    product_id: null,
                    product_name: null,
                    product_description: null,
                    product_price: null,
                    product_quantity: null,
                    product_image: null,
                    product_category_id: null,
                    products: null,
                    product: null,
                    filtered_products: [],
                    categories: null,
                }
            },
            mounted() {
                this.getProducts();
            },
            methods: {
                getFilteredProducts() {
                    this.filtered_products = [];
                    search_input = document.getElementById('search_input');
                    search_btn = document.getElementById('search_btn');

                    if (search_input.value == '') {
                        this.products = this.getProducts();
                    } else {
                        for (var i = 0; i < this.products.length; i++) {
                            if (this.products[i].description.toLowerCase().includes(search_input.value
                                    .toLowerCase())) {
                                this.filtered_products.push(this.products[i]);
                            }
                        }
                        this.products = this.filtered_products;
                    }
                },
                getProducts: function () {
                    axios
                        .get("/api/product/getAllProducts")
                        .then(response => (this.products = response.data));
                    axios
                        .get("/api/category/getAllCategories")
                        .then(response => (this.categories = response.data));
                },
                getProductById: function (product) {
                    axios
                        .get("/api/product/getProductById/" + product.id)
                        .then(response => (this.product = response.data));
                    
                },
                postProduct: function (event) {
                    // Creating
                    category = this.categories.find(category => category.id == this.product_category_id);
                    if (this.product_id == '' || this.product_id == null) {
                        axios
                            .post("/api/product/createProduct", {
                                "name": this.product_name,
                                "description": this.product_description,
                                "price": this.product_price,
                                "quantity": this.product_quantity,
                                "image": this.product_image,
                                "category": category,
                            })
                            .then(savedProduct => {
                                this.product_name = '';
                                this.product_description = '';
                                this.product_price = '';
                                this.product_quantity = '';
                                this.product_image = '';
                                this.product_image = '';
                                this.product_category_id = '';
                                this.getProducts();
                            })
                    } else { // Updating
                        axios
                            .put("/api/product/updateProduct/" + this.product_id, {
                                "name": this.product_name,
                                "description": this.product_description,
                                "price": this.product_price,
                                "quantity": this.product_quantity,
                                "image": this.product_image,
                                "category": category,
                            })
                            .then(savedProduct => {
                                this.getProducts();
                                this.product_name = '';
                                this.product_description = '';
                                this.product_price = '';
                                this.product_quantity = '';
                                this.product_image = '';
                                this.product_id = '';
                                this.product_category_id = '';
                            })
                    }
                },
                editProduct: function (product) {
                    this.product_id = product.id;
                    this.product_name = product.name;
                    this.product_description = product.description;
                    this.product_price = product.price;
                    this.product_quantity = product.quantity;
                    this.product_image = product.image;
                    this.product_category_id = product.category.id;
                    document.getElementById('productForm')
                        .setAttribute("class", document.getElementById('productForm').getAttribute(
                                "class") +
                            " show");
                },
                deleteProduct: async function (product) {
                    await axios
                        .delete("/api/product/deleteProduct/" + product.id);
                    this.getProducts();
                }
            }
        })
    </script>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>